:root {
  --primary-color: #4A3AFF;
  --primary-color-hover: #2A1CCA;
  --primary-color-active: #191086;
  --secondary-color: #D9DBE9;
  // neutrals
  --neutral-100: #FFFFFF;
  --neutral-200: rgba(247, 247, 251, 1);
  --neutral-300: rgba(239, 240, 246, 1);
  --neutral-400: rgba(217, 219, 233, 1);
  --neutral-500: rgba(160, 163, 189, 1);
  --neutral-600: #6F6C90;
  --neutral-700: #514F6E;
  --neutral-800: #170F49;
  --neutral-900: #171717;
  // semantic
  --success: #5BC729;
  --success-bg: #EFFBE9;
  --danger: #FD2727;
  --danger-bg: #FDF2F2;
  --warning: #FF9538;
  --warning-bg: #FADEC5;

}
